body {
    font-family: 'Open Sans', sans-serif;
    background-color:  #393e46; 
    color: #FFF;
}


.navbar {
    display:flex;
    justify-content: center;
    list-style: none;
}

.navbar-item a {
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
    margin:10px;
    font-size: 25px;

}

#search-bar, .auth-form input {
    border-radius: 20px;
    text-align: center;
    border: none 0px white;
	background-color: #222831; 
    height:35px;
    width:150px;
    font-family: 'Open Sans', sans-serif;
    color:white;
}


.items {
    display:flex;
}


.item-container {
    width:25%;
    border: 1px solid rgb(205, 200, 200);
    background-color:#f2f2f2 ;
    color:#222831;
}

.item-container img {
    width:250px;
    height:200px;
}


.auth-form {
    display:flex;
    flex-direction: column;
    width:50%;
    margin:25px;
    border:1px solid #f96d00;
    padding:10%;
}

.auth-form button {
    width:35%;
}

.auth-form-container {
    width:100%;
    display:flex;
}